.counter_inputContainer{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    color: lightskyblue;
    font-size: 32px;
}
  
.counter__input {
    text-align: center;
    padding: 10px;
    margin-left: 25px;
    background-color: white;
    outline: lightskyblue;
    border-radius: 5px;
  
  }

  .inputError {
    background-color: rgb(226, 97, 97);
  }